@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  width: 100%;
  height: 100%;
  margin: 0em;
  padding: 0em;
}

body{
  background-color: #c99d9d;
}

.btns{
  position: absolute;
  bottom: 3em;
  height: max-content;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

button{
  cursor: pointer;
  background-color: #121212;
  color: rgb(218, 218, 218);
  font-weight: 600;
  border-radius: .3em;
  padding: 0.8em 1em;
  transition: .3s ease-in-out;
  position: relative;
  width: max-content;
  z-index: 100;
}

button:hover, button:focus{
  background-color: #433e3e;
  color: rgb(214, 228, 219);
}


svg.demo {
  width:80%;
  min-width:380px;
}

.demo path {
  fill:none;
  stroke-width:10px;
  stroke: #121212;
}